.nav-items{
  padding-block: 1em;
  padding-right: 60px;
  font-size: large;
  list-style: none;
  font-family: sans;
  color: black;
}
.navbar-brand{
  font-size: xx-large;
  color: blue;
  font-family: serif;
}

