.backbtn{
  font-size: medium;
  text-decoration: none;
  color: black;
  background-color: yellow;
}
.cancelbtn{
  font-size: medium;
  text-decoration:none;
  color: black;
  background-color: red;
}
.savebtn{
font-size: medium;
text-decoration: none;
color: black;
background-color: green;
}
.dec{
  padding: 5px;
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}
